page{
    display: flex;
    flex-direction: column;
    padding-top: 30rpx;
}
.task{
    min-height: 80rpx;
    line-height: 30rpx;
    border: 1rpx solid #cdcdcd;
    padding-left: 20rpx;
}
.add-task{
    height: 80rpx;
    line-height: 80rpx;
}
.line{
    width: 90%;
    margin: 20rpx auto;
    height: 1rpx;
    background: #cdcdcd;
}
.move-area{
    height: 880rpx;
    width: 100%;
    .move-task-item{
        .task-item{
            height: 50rpx;
            width: 250rpx;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: pre-wrap;
            transition: height .5s;
        }
    }
    .movable-line{
        position: relative;
        top: 580rpx;
    }
    .task-boxes{
        width: 100rpx;
        height: 100rpx;
        image{
            width: 100%;
            height: 100%;
        }
        .list{
            position: relative;
            top: -15rpx;
            left: 15rpx;
            display: inline-block;
            font-size: 24rpx;
            text-align: center;
            
        }
    }
    

}


